In [13]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [14]:
import warnings
from warnings import filterwarnings
filterwarnings("ignore")

In [15]:
data=pd.read_csv("ML.csv")

In [16]:
data.head()

   Obs     y    x1     x2     x3   x4    x5   x6
0    1  4540  2140  20640  30250  205  1732   99
1    2  4315  2016  20280  30010  195  1697  100
2    3  4095  1905  19860  29780  184  1662   97
3    4  3650  1675  18980  29330  164  1598   97
4    5  3200  1474  18100  28960  144  1541   97

In [17]:
X = data.iloc[:,2:]

In [18]:
y = data['y']

In [19]:
X

      x1     x2     x3   x4    x5   x6
0   2140  20640  30250  205  1732   99
1   2016  20280  30010  195  1697  100
2   1905  19860  29780  184  1662   97
3   1675  18980  29330  164  1598   97
4   1474  18100  28960  144  1541   97
5   2239  20740  30083  216  1709   87
6   2120  20305  29831  206  1669   87
7   1990  19961  29604  196  1640   87
8   1702  18916  29088  171  1572   85
9   1487  18012  28675  149  1522   85
10  2107  20520  30120  195  1740  101
11  1973  20130  29920  190  1711  100
12  1864  19780  29720  180  1682  100
13  1674  19020  29370  161  1630  100
14  1440  18030  28940  139  1572  101
15  2165  20680  30160  208  1704   98
16  2048  20340  29960  199  1679   96
17  1916  19860  29710  187  1642   94
18  1658  18950  29250  164  1576   94
19  1489  18700  28890  145  1528   94
20  2062  20500  30190  193  1748  101
21  1929  20050  29960  183  1713  100
22  1815  19680  29770  173  1684  100
23  1595  18890  29360  153  1624   99
24  1400  17870  28960  134  1569  100
25  2047  20540  30160  193  1746   99
26  1935  20160  29940  184  1714   99
27  1807  19750  29760  173  1679   99
28  1591  18890  29350  153  1621   99
29  1388  17870  28910  133  1561   99
30  2071  20460  30180  198  1729  102
31  1944  20010  29940  186  1692  101
32  1831  19640  29750  178  1667  101
33  1612  18710  29360  156  1609  101
34  1410  17780  28900  136  1552  101
35  2066  20520  30170  197  1758  100
36  1954  20150  29950  188  1729   99
37  1835  19750  29740  178  1690   99
38  1616  18850  29320  156  1616   99
39  1407  17910  28910  137  1569  100

In [20]:
X.insert(column='x0',value =1,loc=0)

In [21]:
X

    x0    x1     x2     x3   x4    x5   x6
0    1  2140  20640  30250  205  1732   99
1    1  2016  20280  30010  195  1697  100
2    1  1905  19860  29780  184  1662   97
3    1  1675  18980  29330  164  1598   97
4    1  1474  18100  28960  144  1541   97
5    1  2239  20740  30083  216  1709   87
6    1  2120  20305  29831  206  1669   87
7    1  1990  19961  29604  196  1640   87
8    1  1702  18916  29088  171  1572   85
9    1  1487  18012  28675  149  1522   85
10   1  2107  20520  30120  195  1740  101
11   1  1973  20130  29920  190  1711  100
12   1  1864  19780  29720  180  1682  100
13   1  1674  19020  29370  161  1630  100
14   1  1440  18030  28940  139  1572  101
15   1  2165  20680  30160  208  1704   98
16   1  2048  20340  29960  199  1679   96
17   1  1916  19860  29710  187  1642   94
18   1  1658  18950  29250  164  1576   94
19   1  1489  18700  28890  145  1528   94
20   1  2062  20500  30190  193  1748  101
21   1  1929  20050  29960  183  1713  100
22   1  1815  19680  29770  173  1684  100
23   1  1595  18890  29360  153  1624   99
24   1  1400  17870  28960  134  1569  100
25   1  2047  20540  30160  193  1746   99
26   1  1935  20160  29940  184  1714   99
27   1  1807  19750  29760  173  1679   99
28   1  1591  18890  29350  153  1621   99
29   1  1388  17870  28910  133  1561   99
30   1  2071  20460  30180  198  1729  102
31   1  1944  20010  29940  186  1692  101
32   1  1831  19640  29750  178  1667  101
33   1  1612  18710  29360  156  1609  101
34   1  1410  17780  28900  136  1552  101
35   1  2066  20520  30170  197  1758  100
36   1  1954  20150  29950  188  1729   99
37   1  1835  19750  29740  178  1690   99
38   1  1616  18850  29320  156  1616   99
39   1  1407  17910  28910  137  1569  100

In [22]:
X_train, X_test,y_train, y_test = train_test_split(X,y,random_state=104,test_size=0.2)

In [23]:
X_train

    x0    x1     x2     x3   x4    x5   x6
32   1  1831  19640  29750  178  1667  101
27   1  1807  19750  29760  173  1679   99
21   1  1929  20050  29960  183  1713  100
20   1  2062  20500  30190  193  1748  101
38   1  1616  18850  29320  156  1616   99
30   1  2071  20460  30180  198  1729  102
19   1  1489  18700  28890  145  1528   94
6    1  2120  20305  29831  206  1669   87
31   1  1944  20010  29940  186  1692  101
33   1  1612  18710  29360  156  1609  101
22   1  1815  19680  29770  173  1684  100
15   1  2165  20680  30160  208  1704   98
9    1  1487  18012  28675  149  1522   85
17   1  1916  19860  29710  187  1642   94
26   1  1935  20160  29940  184  1714   99
39   1  1407  17910  28910  137  1569  100
29   1  1388  17870  28910  133  1561   99
2    1  1905  19860  29780  184  1662   97
23   1  1595  18890  29360  153  1624   99
36   1  1954  20150  29950  188  1729   99
34   1  1410  17780  28900  136  1552  101
0    1  2140  20640  30250  205  1732   99
3    1  1675  18980  29330  164  1598   97
28   1  1591  18890  29350  153  1621   99
13   1  1674  19020  29370  161  1630  100
37   1  1835  19750  29740  178  1690   99
8    1  1702  18916  29088  171  1572   85
24   1  1400  17870  28960  134  1569  100
14   1  1440  18030  28940  139  1572  101
25   1  2047  20540  30160  193  1746   99
1    1  2016  20280  30010  195  1697  100
5    1  2239  20740  30083  216  1709   87

In [24]:
x_trans=np.transpose(X_train)

In [25]:
dot = np.dot(x_trans,X_train)

In [26]:
inv =np.linalg.inv(dot)

In [27]:
a = np.dot(inv,x_trans)

In [28]:
theta = np.dot(a,y_train)

In [29]:
theta

array([-6.41158231e+03,  6.55608958e-01, -3.71737107e-02,  2.99308076e-01,
        7.87647930e+00,  7.86278054e-01, -1.72395431e+01])

In [36]:
from sklearn.linear_model import LinearRegression

In [37]:
LR = LinearRegression()
LR.fit(X_train,y_train)
predict = LR.predict(X_test)

In [38]:
predict

array([3223.53480986, 4374.84559159, 4420.21481586, 4384.98387268,
       3636.1364933 , 3986.94443802, 4206.8234874 , 4345.21703973])

In [43]:
Coef = LR.coef_
Coef = np.transpose(Coef)

In [45]:
y_pred = np.dot(X_test,Coef)

In [57]:
y_pred

array([ 9635.11712336, 10786.4279051 , 10831.79712937, 10796.56618619,
       10047.71880681, 10398.52675152, 10618.40580091, 10756.79935323])

In [65]:
y_test

4     3200
16    4340
35    4402
10    4445
18    3630
12    3981
11    4188
7     4340
Name: y, dtype: int64

In [49]:
a = np.transpose(y_pred-y_test)

In [68]:
b = y_pred-y_test

In [69]:
MSError = np.dot(a,b)

In [70]:
MSError

329549046.2632079

In [71]:
RMSError = np.sqrt(MSError)

In [72]:
RMSError

18153.48578822282

In [30]:
import statsmodels.api as sm

In [31]:
a=sm.OLS(y_train,X_train).fit()

In [32]:
a.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.998
Model:                            OLS   Adj. R-squared:                  0.997
Method:                 Least Squares   F-statistic:                     1785.
Date:                Tue, 23 Jan 2024   Prob (F-statistic):           1.20e-31
Time:                        18:26:00   Log-Likelihood:                -147.87
No. Observations:                  32   AIC:                             309.7
Df Residuals:                      25   BIC:                             320.0
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x0         -6411.5823   3484.492     -1.840      0.078   -1.36e+04     764.864
x1             0.6556      0.416      1.577      0.127      -0.200       1.512
x2            -0.0372      0.043     -0.871      0.392      -0.125       0.051
x3             0.2993      0.168      1.781      0.087      -0.047       0.645
x4             7.8765      3.653      2.156      0.041       0.354      15.399
x5             0.7863      0.478      1.644      0.113      -0.199       1.771
x6           -17.2395      3.289     -5.241      0.000     -24.014     -10.465
==============================================================================
Omnibus:                        2.877   Durbin-Watson:                   1.913
Prob(Omnibus):                  0.237   Jarque-Bera (JB):                1.585
Skew:                           0.242   Prob(JB):                        0.453
Kurtosis:                       2.023   Cond. No.                     2.51e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.51e+07. This might indicate that there are
strong multicollinearity or other numerical problems.
"""